@mixin breakpoint($class) {
	@if $class == "xs" {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $class == "xxs" {
		@media (max-width: 600px) {
			@content;
		}
	} @else if $class == "sm" {
		@media (max-width: 768px) {
			@content;
		}
	} @else if $class == "md" {
		@media (max-width: 992px) {
			@content;
		}
	} @else if $class == "lg" {
		@media (max-width: 1200px) {
			@content;
		}
	} @else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

.cwp-gf-wb-action-modal {
	width: 50%;
	@include breakpoint("xxs") {
		width: 100%;
	}
	@include breakpoint("xs") {
		width: 100%;
	}
}

// .cwp-webhook-picker {
// }

.cwp-gf-wb-action-modal {
	.wb-field {
		margin: 25px 0px;
	}

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;

		.row-v {
			display: flex;
			flex-direction: column;
			margin-right: 20px;
		}

		.mr-10 {
			margin-right: 10px;
		}
	}
}
